.head{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 600px 400px 300px 300px;
    grid-template-rows: repeat(1, 160px);
}

.head_history{
    box-sizing: border-box;
    border: 1px solid black;
}

.head_logo{
    padding-top: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}

.head_info{
    box-sizing: border-box;
    border: 1px solid black;
}

.head_content{
    box-sizing: border-box;
    border: 1px solid black;
}

.table{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.cardList{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 355px);
    grid-template-rows: repeat(3, 205px);
}

.activeZona{
    border: 1px solid black;
    min-width: 300px;
}

.myCard{
    height: 100px;
}

.myCard button {
    min-width: 300px;
    min-height: 100px;
}

.buttons{
    height: 200px;
}

.chat{
    min-height: 305px;
    position: relative;
}